<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="UTF-8">
	<title>Separatist Might</title>
	<meta name="description" content="">
	<meta name="keywords" content=" ">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="icon" type="image" href="media/favicon/favicon.svg">
	<meta name="yandex-verification" content="af25ac2eb9e093b1" />
</head>

<body>
<div class="wrapper">
	<div class="container-fluid ">
		<div class="row justify-content-center h-100 text-center">
			<div id="app" class="map">
				<svg viewBox="0 0 1000 667">
					<path  class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l -88.42569,70.50156 -186.410921,
					7.16965 25.093778,-97.98522 -15.534243,-63.33192 34.653316,-75.28133 76.47627,-15.534244 52.57744,26.288724 h 26.28872 z" 
					></path>
					<text x="180" y="300">
							<tspan x="180" dy="0">1*: 65,720,000</tspan>	
							<tspan x="180" dy="15">2*: 84,340,000</tspan>	
							<tspan x="180" dy="15">3*: 109,530,000 </tspan>	
					</text>

					<path class="part" d="M 59.747089,350.00711 C 32.575648,398.87862 13.246382,449.71068 -1.1949418,
					501.76472 v 27.48366 l 44.2128458,41.82296 157.732316,4.77977 45.40779,-233.01365 z"></path>
					<text x="125" y="530">
							<tspan x="125" dy="0">1*: 36,465,000</tspan>	
							<tspan x="125" dy="15">2*: 67,725,000</tspan>	
							<tspan x="125" dy="15">3*: 104,190,000</tspan>	
					</text>
					<path class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l 152.95255,-2.38989 50.18755,
					-44.21284 v -76.47628 z"></path>
					<text x="430" y="220">
						<tspan x="430" dy="0">1*: 26,605,000</tspan>	
						<tspan x="430" dy="15">2*: 66,150,000</tspan>	
						<tspan x="430" dy="15">3*: 106,425,000</tspan>	
					</text>
					<path class="part" d="m 334.5837,272.3359 152.95255,-2.38989 46.60273,59.74709 -1.19494,70.50157 -191.19069,-8.36459 -50.18755,
					48.99261 -64.52686,1.19494 19.11907,-99.18017 z"></path>
					<text x="245" y="380">
						<tspan x="245" dy="0">1*: 61,025,000</tspan>	
						<tspan x="245" dy="15">2*: 95,355,000</tspan>	
						<tspan x="245" dy="15">3*: 190,710,000</tspan>	
					</text>
					<path class="part" d="m 227.03894,442.01763 64.52686,-1.19494 50.18755,-48.99261 191.19069,8.36459 41.82296,50.18755 7.16965,
					124.27395 -381.18643,1.19494 z"></path>
					<text x="345" y="520">
						<tspan x="345" dy="0">1*: 42,740,000</tspan>	
						<tspan x="345" dy="15">2*: 88,530,000</tspan>	
						<tspan x="345" dy="15">3*: 152,635,000</tspan>	
					</text>
					<path class="part" d="m 534.13898,329.6931 h 86.03581 l 34.65331,-28.6786 82.45098,2.38988 -7.16965,
					-20.31401 -96.79028, -44.21284 -2.38989,-33.45837 -26.28872,-37.0432 h -14.3393 l -19.11907,-31.06848 -33.45837,
					11.94941 v 76.47628 l -50.18755,44.21284 z"></path>
					<text x="545" y="290">
						<tspan x="545" dy="0">1*: 34,225,000</tspan>	
						<tspan x="545" dy="15">2*: 92,410,000</tspan>	
						<tspan x="545" dy="15">3*: 142,600,000</tspan>	
					</text>
					<path class="part" d="m 737.27908,303.40438 -82.45098,-2.38988 -34.65331,28.6786 h -86.03581 l -1.19494,
					70.50157 41.82296,50.18755 32.26343,-20.31401 h 74.08639 l 25.09378,19.11907 38.23813,-2.38988 z"></path> 
					<text x="670" y="390">
						<tspan x="670" dy="0">1*: 59,945,000</tspan>	
						<tspan x="670" dy="15">2*: 109,465,000</tspan>	
						<tspan x="670" dy="15">3*: 168,410,000</tspan>	
					</text>
					<path class="part" d="m 574.767,450.38222 7.16965,124.27395 193.58057,1.19494 -9.55953,-112.32453 -21.50896,
					-16.72918 -38.23813,2.38988 -25.09378,-19.11907 h -74.08639 z"></path>
					<text x="640" y="530">
						<tspan x="640" dy="0">1*: 60,315,000</tspan>	
						<tspan x="640" dy="15">2*: 94,780,000</tspan>	
						<tspan x="640" dy="15">3*: 172,325,000</tspan>	
					</text>
					<path class="part" d="m 604.64054,168.37596 15.53425,-10.75447 2.38988,-10.75448 268.8619,2.38988 3.58483,
					22.7039 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 -7.16965,-20.31401 -96.79028,
					-44.21284 -2.38989,-33.45837 z"></path>
					<text x="715" y="220">
						<tspan x="715" dy="0">1*: 54,000,000</tspan>	
						<tspan x="715" dy="15">2*: 118,800,000</tspan>	
						<tspan x="715" dy="15">3*: 200,000,000</tspan>	
					</text>
					<path class="part" d="m 895.0114,171.96079 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 7.16965,
					143.39302 21.50896,16.72918 26.28871,-28.6786 h 77.67122 l 64.52686,-129.05371 37.04319,-14.3393 17.92413,
					-53.77238 -32.26343,-68.11169 -34.65331,4.77977 z"></path>
					<text x="815" y="340">
						<tspan x="815" dy="0">1*: 70,460,000</tspan>	
						<tspan x="815" dy="15">2*: 192,160,000</tspan>	
						<tspan x="815" dy="15">3*: 320,265,000</tspan>	
					</text>	
					<path class="part" d="m 971.48767,291.45497 27.48366,23.89883 3.58487,194.77551 -17.92417,13.14436 3.58483,
					10.75448 -47.79767,48.99261 -164.90197,-7.16965 -9.55953,-112.32453 26.28871,
					-28.6786 h 77.67122 l 64.52686,-129.05371 z"></path>
					<text x="835" y="460">
						<tspan x="835" dy="0">1*: 67,565,000</tspan>	
						<tspan x="835" dy="15">2*: 144,775,000</tspan>	
						<tspan x="835" dy="15">3*: 241,295,000</tspan>	
					</text>	
				</svg>
				<mission></mission>
			</div>
		</div>
	</div>
</div>
<!--Templates for Vue-->
<template id="mission">
	<div>
		<img class="mission"
		v-for="mission in missions" 
		v-bind:key="mission.name" 
		v-bind:class="mission.name"
		v-bind:src="'media/mission_' +  mission.type + '.svg'"
		@mouseover="isMobile ? null : selectedMission = mission; seen = true" @mouseleave="seen = false"
		>
		<!--v-click-outside="hide"-->
		<div v-if="seen" class="description" v-bind:class="'desc_' + selectedMission.position">
			
			<div class="mb-3" v-if="selectedMission.preferredSquads">
				<p  class="h4">Preferred teams</p>
				<div v-for="item in selectedMission.preferredSquads">
					<p>{{squads[item].name}}</p>
					<div class="img_block">
						<img 
						v-for="pic in squads[item].toons"
						v-bind:src="'media/toons/' + pic + '.png'"
						>
					</div>
				</div>
			</div>
			
			<div class="mb-3" v-if="selectedMission.dangerousEnemies">
				<p class="h4">Dangerous enemies</p>
				<ul>
					<li class="text-justify" v-for="item in selectedMission.dangerousEnemies">{{enemies[item]}}</li>
				</ul>
			</div>



			<div class="mb-3" v-if="selectedMission.requiredToons">
				<p  class="h4">Required toons</p>
				<table>
					<tr v-for="item in selectedMission.requiredToons">
						<td v-for="item in platoons[item]">{{item}}</td>
					</tr>
				</table>
			</div>


			<div class="rewards mb-3" v-if="selectedMission.rewards">
				<p class="h4">Rewards</p>
				<span v-for="item in selectedMission.rewards">&nbsp;&nbsp;{{item}}&nbsp;&nbsp;&nbsp;</span>
			</div>
		</div>
	</div>
</template>
<form method="POST" target="_blank" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="410017861228079">
    <input type="hidden" name="formcomment" value="SWGoH project Geonosis Territory Battle: Dark Side">
    <input type="hidden" name="short-dest" value="SWGoH GeoTB:DS">
    <input type="hidden" name="label" value="$order_id">
    <input type="hidden" name="quickpay-form" value="donate">
	<input type="hidden" name="targets" value="Donation">
	<label for="66">
		<input type="radio" name="sum" id="66" value="66" data-type="number"> <span>66 &#8381; ~ 1 $</span>	
	</label> 
	<label for="330">
		<input type="radio" name="sum" id="330" value="330" data-type="number" checked> <span>330 &#8381; ~ 5 $</span>	
	</label> 
	<label for="660">
		<input type="radio" name="sum" id="660" value="660" data-type="number"> <span>660 &#8381; ~ 10 $</span>	
	</label> 
    <input type="hidden" name="comment" value="">
    <input type="hidden" name="need-fio" value="false">
    <input type="hidden" name="need-email" value="false"> 
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <input type="hidden" name="paymentType" value="AC" checked>
    <input type="submit" value="Donate">
</form>
<script src="js/vue.min.js"></script>
<script src="js/main.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55080151, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/55080151" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22718390-3"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-22718390-3');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
</body>
</html>