<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Интерактивная карта</title>
	<meta name="description" content="">
	<meta name="keywords" content=" ">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="wrapper">
	<div class="container-fluid ">
		<div class="row justify-content-center h-100 text-center">
			<div id="app" class="map">
				<svg viewBox="0 0 1000 667">
						<a href="#">
							<path class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l -88.42569,70.50156 -186.410921,
								7.16965 25.093778,-97.98522 -15.534243,-63.33192 34.653316,-75.28133 76.47627,-15.534244 52.57744,26.288724 h 26.28872 z" 
								description-data=
								"Top location 1 phase <br> <br>
								Stars requirements: <br>
								1*: 65,720,000 <br>
								2*: 84,340,000 <br>
								3*: 109,530,000 <br><br>
								Mission rewards: <br>
								1 волна: 187,500<br>
								2 волны: 297,500<br>
								3 волны: 500,000<br>
								4 волны: 792,000<br>
								">
						</a>
						<a href="#">
							<path class="part" d="M 59.747089,350.00711 C 32.575648,398.87862 13.246382,449.71068 -1.1949418,
								501.76472 v 27.48366 l 44.2128458,41.82296 157.732316,4.77977 45.40779,-233.01365 z" 
								description-data=
								"Bottom location 1 phase <br> <br>
								Stars requirements: <br>
								1*: 36,465,000 <br>
								2*: 67,725,000 <br>
								3*: 104,190,000 <br><br>
								Mission rewards: <br>
								1 волна: 187,500<br>
								2 волны: 297,500<br>
								3 волны: 500,000<br>
								4 волны: 792,000<br>
								">
						</a>
						<a href="#">
							<path class="part" d="m 274.83661,149.25689 59.74709,46.60273 v 76.47628 l 152.95255,-2.38989 50.18755,
							-44.21284 v -76.47628 z" 
								description-data=
								"Top location 2 phase <br> <br>
								Stars requirements: <br>
								1*: 26,605,000 <br>
								2*: 66,150,000 <br>
								3*: 106,425,000 <br><br>
								Rewards for mission С5: <br>
								825,00<br>
								Rewards for mission С6: <br>
								1,072,500<br>
								">
						</a>
						<a href="#">
							<path class="part" d="m 334.5837,272.3359 152.95255,-2.38989 46.60273,59.74709 -1.19494,70.50157 -191.19069,-8.36459 -50.18755,
							48.99261 -64.52686,1.19494 19.11907,-99.18017 z" 
								description-data=
								"Middle location 2 phase <br> <br>
								Stars requirements: <br>
								1*: 61,025,000 <br>
								2*: 95,355,000 <br>
								3*: 190,710,000 <br><br>
								Mission rewards, кроме С8: <br>
								1 волна: 270,000<br>
								2 волны: 420,000<br>
								3 волны: 708,000<br>
								4 волны: 1,080,000<br><br>
								Rewards for mission С8:<br>
								1 волна: 351,000<br>
								2 волны: 546,000<br>
								3 волны: 920,400<br>
								4 волны: 1,404,000<br>
								">
						</a>
						<a href="#">
								<path class="part" d="m 227.03894,442.01763 64.52686,-1.19494 50.18755,-48.99261 191.19069,8.36459 41.82296,50.18755 7.16965,
								124.27395 -381.18643,1.19494 z" 
									description-data=
									"Bottom location 2 phase <br> <br>
									Stars requirements: <br>
									1*: 42,740,000 <br>
									2*: 88,530,000 <br>
									3*: 152,635,000 <br><br>
									Mission rewards: <br>
									1 волна: 270,000<br>
									2 волны: 420,000<br>
									3 волны: 708,000<br>
									4 волны: 1,080,000<br>
									">
						</a>
						<a href="#">
									<path class="part" d="m 534.13898,329.6931 h 86.03581 l 34.65331,-28.6786 82.45098,2.38988 -7.16965,
									-20.31401 -96.79028, -44.21284 -2.38989,-33.45837 -26.28872,-37.0432 h -14.3393 l -19.11907,-31.06848 -33.45837,
									11.94941 v 76.47628 l -50.18755,44.21284 z" 
										description-data=
										"Top location 3 phase <br> <br>
										Stars requirements: <br>
										1*: 34,225,000 <br>
										2*: 92,410,000 <br>
										3*: 142,600,000 <br><br>
										Rewards for mission С12: <br>
										1,665,000<br>
										Rewards for mission С13: <br>
										2,164,500<br>
										">
						</a>
						<a href="#">
								<path class="part" d="m 737.27908,303.40438 -82.45098,-2.38988 -34.65331,28.6786 h -86.03581 l -1.19494,
								70.50157 41.82296,50.18755 32.26343,-20.31401 h 74.08639 l 25.09378,19.11907 38.23813,-2.38988 z" 
									description-data=
									"Middle location 3 phase <br> <br>
									Stars requirements: <br>
									1*: 59,945,000 <br>
									2*: 109,465,000 <br>
									3*: 168,410,000 <br><br>
									Mission rewards: <br>
									1 волна: 336,000<br>
									2 волны: 540,000<br>
									3 волны: 910,000<br>
									4 волны: 1,352,000<br>									
									">
						</a>
						<a href="#">
								<path class="part" d="m 574.767,450.38222 7.16965,124.27395 193.58057,1.19494 -9.55953,-112.32453 -21.50896,
								-16.72918 -38.23813,2.38988 -25.09378,-19.11907 h -74.08639 z" 
									description-data=
									"Bottom location 3 phase <br> <br>
									Stars requirements: <br>
									1*: 60,315,000 <br>
									2*: 94,780,000 <br>
									3*: 172,325,000 <br><br>
									Mission rewards: <br>
									1 волна: 336,000<br>
									2 волны: 540,000<br>
									3 волны: 910,000<br>
									4 волны: 1,352,000<br>									
									">
						</a>
						<a href="#">
								<path class="part" d="m 604.64054,168.37596 15.53425,-10.75447 2.38988,-10.75448 268.8619,2.38988 3.58483,
								22.7039 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 -7.16965,-20.31401 -96.79028,-44.21284 -2.38989,-33.45837 z" 
									description-data=
									"Top location 4 phase <br> <br>
									Stars requirements: <br>
									1*: 54,000,000 <br>
									2*: 118,800,000 <br>
									3*: 200,000,000 <br><br>
									Rewards for mission С18: <br>
									2,530,000<br>
									">
						</a>
						<a href="#">
								<path class="part" d="m 895.0114,171.96079 -99.18017,69.30662 1.19494,59.74709 -59.74709,2.38988 7.16965,
								143.39302 21.50896,16.72918 26.28871,-28.6786 h 77.67122 l 64.52686,-129.05371 37.04319,-14.3393 17.92413,
								-53.77238 -32.26343,-68.11169 -34.65331,4.77977 z" 
									description-data=
									"Middle location 4 phase <br> <br>
									Stars requirements: <br>
									1*: 70,460,000 <br>
									2*: 192,160,000 <br>
									3*: 320,265,000 <br><br>
									Rewards for missionы, кроме С21: <br>
									1 волна: 405,000<br>
									2 волны: 675,000<br>
									3 волны: 1,038,500<br>
									4 волны: 1,564,000<br>
									Rewards for mission С21: <br>
									1 волна: 1,350,050<br>									
									2 волны: 2,033,200<br>									
									">
						</a>
						<a href="#">
								<path class="part" d="m 971.48767,291.45497 27.48366,23.89883 3.58487,194.77551 -17.92417,13.14436 3.58483,
								10.75448 -47.79767,48.99261 -164.90197,-7.16965 -9.55953,-112.32453 26.28871,-28.6786 h 77.67122 l 64.52686,-129.05371 z" 
									description-data=
									"Bottom location 4 phase <br> <br>
									Stars requirements: <br>
									1*: 67,565,000 <br>
									2*: 144,775,000 <br>
									3*: 241,295,000 <br><br>
									Mission rewards: <br>
									1 волна: 405,000<br>
									2 волны: 675,000<br>
									3 волны: 1,038,500<br>
									4 волны: 1,564,000<br>
									">
						</a>
				</svg>
				<mission></mission>
			</div>
		</div>
	</div>
</div>
<!--Templates for Vue-->
<template id="mission">
	<div>
		<img class="mission"
		v-for="mission in missions" 
		v-bind:key="mission.id" 
		v-bind:class="mission.name"
		v-bind:src="mission.path"
		@mouseover="isMobile ? null : selectedMission = mission; seen = true" @mouseleave="seen = false"
		>
		<div v-if="seen" v-click-outside="hide" class="description">
			<p class="h4">Preferred teams</p>
			<p v-for="item in selectedMission.preferredSquads">{{squads[item]}}</p>
			<p class="h4">Dangerous enemies</p>
			<p v-for="item in selectedMission.dangerousEnemies">{{enemies[item]}}</p>
		</div>
	</div>
</template>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>